<%- include("../header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            AIStory
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8">
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            <%- title %>
        </h1>
        <span class="text-yellow-200"><%- description %></span>
    </div>
    <div class="prose py-2 flex flex-col gap-6 leading-relaxed">
        <p>
            我們最近將
            <a class="text-yellow-100 underline" href="https://www.riffusion.com">Riffusion</a> 添加到了AIStory，這是一個能為文字冒險遊戲創建音樂背景的生成音樂系統。
        </p>

        <p>
            以前，我們在背景音樂中循環播放一些固定的 mp3。這樣做雖然可以，但很快就會變得單調。我們想為音樂增加更多的變化，並最終使其像遊戲的概念、故事和美術一樣是根據遊戲生成的。
        </p>

        <p>
            現在，無限遊戲廳從 GPT-4 中獲得音樂背景的想法，然後使用 Riffusion 生成音樂。Riffusion 實際上使用圖像生成軟件生成光譜圖，然後將其轉換為音頻。如果這聽起來很神奇，那是因為它確實很特別，但它確實有效！
            試試看：<a class="text-yellow-100 underline" href="https://www.riffusion.com">Riffusion</a>
            或
            <a class="text-yellow-100 underline" href="https://www.infinityarcade.com">AIStory</a>。
        </p>

        <img src="/images/articles/funky_sax.gif" class="max-w-sm" />

        <p class="text-xs">圖片來源：<a href="https://www.riffusion.com/about">Riffusion</a></p>

        <p>生成的音樂是實現遊戲百分之百由提示生成的最後一個缺失的部分。</p>
        <p>AIStory生成概念、交互式遊戲故事、獨特的遊戲美術和與遊戲相匹配的音樂。</p>

        <a class="text-yellow-100 underline" href="https://www.infinityarcade.com">試試看吧！</a>
    </div>
</div>
<%- include("../scripts.ejs") %>
<!-- -->
<%- include("../footer.ejs") %>
