<%- include("../header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            AIStory
        </div>
    </a>
</div>

<div
    class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8"
>
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            <%- title %>
        </h1>
        <span class="text-yellow-200"><%- description %></span>
    </div>
    <div class="prose py-2 flex flex-col gap-6 leading-relaxed">
        <p>
            AIStory是生成基於文字的冒險遊戲或互動式故事遊戲的最簡單方法，僅需幾秒鐘即可完成，無需編程技能！
        </p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-10">
            創建一個隨機的文字冒險遊戲
        </h2>
        <p>通過訪問以下網址創建隨機的視頻遊戲:</p>
        <a
            href="/generate"
            class="bg-white/95 text-yellow-800 p-2 -tracking-wider block rounded-xl truncate"
            >63812f7a.cpolar.io/<span class="text-yellow-600">生成</span>
        </a>
        <p>您將在幾秒鐘內開始遊戲！</p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-24">
            創建任何主題的文字冒險遊戲
        </h2>
        <p>
            在 63812f7a.cpolar.io/ 的 URL 後面輸入您想要的任何內容，就像這樣：
        </p>
        <strong
            class="bg-white/95 text-yellow-800 p-2 -tracking-wider block rounded-xl truncate"
            >63812f7a.cpolar.io/<span class="text-yellow-600"
                >您想要的任何內容</span
            >
        </strong>
        <p>這將創建一個關於您輸入的任何內容的遊戲。</p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-24">
            從任何網站創建文字冒險遊戲
        </h2>
        <p>
            您還可以添加 URL，AIStory將根據網站的內容創建一個遊戲：
        </p>
        <strong
            class="bg-white/95 text-yellow-800 p-2 -tracking-wider block rounded-xl truncate"
            >63812f7a.cpolar.io/<span class="text-yellow-600"
                >https://openai.com/blog/openai-api/</span
            >
        </strong>
        <p>
            通過這些強大的方法，您可以創建關於幾乎任何內容的遊戲。
        </p>
    </div>
</div>
<%- include("../scripts.ejs") %>
<!-- -->
<%- include("../footer.ejs") %>
